<nav class="navbar navbar-expand-sm bg-body-primary">
  <div class="container">
    <a routerLink="/" title="Home" class="navbar-brand">
      <img src="assets/hoaxify.png" alt="hoaxify" height="50" />
      Hoaxify</a
    >
    <ul class="navbar-nav">
      <div class="nav-item">
        <a routerLink="/signup" title="Signup" class="nav-link">Signup</a>
      </div>
      <div class="nav-item">
        <a routerLink="/login" title="Login" class="nav-link">Login</a>
      </div>
    </ul>
  </div>
</nav>
